{% extends 'base.html' %}
{% block container %}
  <main class="container mt-3">
    <div class="card my-4 mx-auto">
      <div class="card-body m-2 m-md-4">
        <article class="row">
          <div class="col-5"><img src="{{dic['picture']}}" class="img-fluid" alt=""></div>
          <div class="col-7">

            <section class="teacher=info">

              <h1 class="h2">{{dic['name']}}</h1>
              <p><span class="badge badge-secondary mr-2">{% for goal in dic.goals %} {{goal.name}} {% endfor %}</span>Рейтинг: {{dic['rating']}} Ставка: {{dic['price']}} / час</p>
              <p>{{dic['about']}}</p>

            </section>

            <section class="available">

              <h4 class="mb-4 mt-5">Записаться на пробный урок</h4>
              {% for x in sked %}
                <h5 class="mt-4">{{x['day_name']}}</h5>
                {% if x['times']|length > 0 %}
                  {% for time in x['times'] %}
                    <a href="/booking/{{dic['id']}}/{{x['week_day']}}/{{time|urlencode}}/" class="btn btn-outline-success mr-2 mb-1" style="width: 150px;">{{time}} свободно</a>
                  {% endfor %}
                {% else %}
                  <p>Свободных уроков нет</p>
                {% endif %}
              {% endfor %}
            </section>

          </div>
        </article>
      </div>

    </div>
  </main>
{% endblock %}